:root {
  --main-bg-color: rgb(34, 114, 139);
}


.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.table_container {
  display: flex;
  justify-content: center;
  text-align: center;
}

table {
  border: 0.2rem solid var(--main-bg-color);
  width: auto;
  height: auto;
  background-color: whitesmoke;
  border-spacing: 0;
  border-radius: 10px; /* aquí se redondearán los bordes de la tabla */
}

/* bordes */



/* THEAD */
.table_container table thead th img {
  height: rem;
  width: 6rem;
}

/* TBODY */
td{
  border-top: 1px solid black;  
}

tbody tr td:nth-child(1) {
  /* Primera columna horizontal de la tabla */
  font-weight: bold;
  padding-right: 0.9rem;
  text-align: right;
  background-color: var(--main-bg-color);
  color: aliceblue;
}

tbody tr td:nth-child(1) {
  
}


/* ZONA FOTO CONOS (parte de abajo de la página) */
.contenedor_conos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.contenedor_conos img {
  height: 200px;
  width: auto;
}

.contenedor_conos figure figcaption {
  text-align: center;
  font-weight: bold;
}